#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@ --with dist_zilla

override_dh_auto_test:
	xvfb-run dh_auto_test -D .build/debian-build

# Not needed, c.f. https://tracker.debian.org/news/845042
override_dh_strip_nondeterminism:
	# no-op
